/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #64ad66;
    color: #333;
}

/* Encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border-bottom: #333;

}

header h1 {
    color: #333;
    font-size: 2rem;
    letter-spacing: 1px;
}

.search-container {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
}

.search-container input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    transition: all 0.3s ease;
}

.search-container input:focus {
    border-color: #4caf50;
    outline: none;
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2);
}

.search-btn,
.clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
}
/* Estilos para el contenedor */
.excel-movie {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Estilos para el botón de descarga */
.download-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4caf50;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-align: center;
    width: auto;
}

/* Efecto de hover */
.download-btn:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

/* Efecto de enfoque */
.download-btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.5);
}



.search-btn img,
.clear-btn img{
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
}

.search-btn:hover img,
.clear-btn:hover  img{
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    stroke: #4CAF50;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}

/* Contenedor de las películas */
section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    margin-bottom: 20px;
}

#movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

.movie {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.movie:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.movie-list {
    max-height: 600px; /* Ajusta el valor según el diseño y la cantidad de películas visibles */
    overflow-y: auto; /* Permite desplazamiento cuando hay más películas */
    padding-right: 10px; /* Espacio para evitar que el contenido quede bajo el scrollbar */
}

.movie-year,
.movie-imdbID {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
}

.movie-poster {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 8px;
}

/* Botón de agregar */
.add-movie-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.add-movie-btn:hover {
    background-color: #45a049;
}


/* Efectos de transición */
input,
textarea,
button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease;
}


.add-movie-btn img {
    width: 20px;
    height: 20px;
}

.add-movie-btn:hover img {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

/* Estilos para el formulario */
.add-movie-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .add-movie-section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  .add-movie-section{
    align-self: center
  }
  
  #add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #add-movie-form label {
    font-size: 0.9rem;
    color: #666;
  }
  
  #add-movie-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  #add-movie-form input:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .submit-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }

  

/* Estilos Responsivos */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    .search-container {
        flex-direction: row;
    }

    main {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    input,
    textarea,
    button {
        font-size: 0.9rem;
        padding: 8px;
    }
    .download-btn {
        padding: 12px 24px;
        font-size: 1rem;
        width: 100%;
        box-sizing: border-box;
    }
    #search-input{
        width: 70%;
    }
}


